div.wgt-navbar {
  
    top: 0;
    background-color: rgba(255,192,203,0.3);
    border: 2px solid rgba(255,192,203,0.5);
}

.box {
    float: left;
    width: 16.66%;
}
.wgt-navbar::after {
    content: "";
    clear: both;
    display: table;
}