nav {
    line-height:60px;/*行间距*/
	border-left: 6px solid rgba(255,192,203,0.5);
    background-color:rgba(255,192,203,0.3);
    height:600px;
    width:120px;
    float:left;
	text-align:left;	
    margin-right: 30px;	
}

.nav_ul_ ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

.nav_ul_ li a {
	background-color:rgba(255,192,203,0.5);
	color: white;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.nav_ul_ a {
	text-align: left;
    width:120px;
    cursor:pointer;
    color: hotpink;
    text-decoration: none;/*文本去除下划线*/
}

/* 鼠标悬停时改变链接颜色 */
.nav_ul_ li a:hover {
    background-color: #FFFFE0;
    color: #FF4500;
}
